.box1 {
  width: 300px;
  height: 300px;
  background-color: #ff6699;
  padding: 30px;
  margin: 30px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: #eeeeee;
  border: 5px solid yellow;
}
