* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 50px;
  background-color: red;
}

.menu {
  width: 100%;
  height: 500px;
  background-color: orange;
}

.main {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.leftbox {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.centerbox {
  width: 500px;
  height: 1400px;
  background-color: limegreen;
}

.rightbox {
  width: 230px;
  height: 1400px;
  background-color: palegreen;
}

.bottom {
  width: 100%;
  height: 100px;
  background-color: blue;
}
